body{
    margin-left: 20%;
    margin-right: 20%;
}

article{
    width: 225px;
    height: 350px;
    background-color: beige;
    margin-bottom: 20px;
   margin: auto;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.imgTeam{
    width: 100px;
    height: 100px;
    background-color: aqua;
    justify-content: center ;

}

.blockTeam{
    width: 225px;
    height:380px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
.articleTeam{
    height: 450px;
    width: 225px;
}
 h2{
    text-align: center;
 }
 h1{
    text-align: center;
 }
 @media screen  and (min-width:1024px){
    body{
        margin-left: 20%;
        margin-right: 20%;
    }
    
    article{
        width: 615px;
        height: 350px;
        background-color: beige;
        margin-bottom: 20px;
    }
    .champFormulaire{
        margin-top: 10px;
    }
    
    .blockTeam{
        height: 350px;
        width: 615px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .articleTeam{
        height: 615px;
        width: 615px;
    }
     h1{
        text-align: center;
     }
     .imgTeam{
        width: 200px;
        height: 200px;
    }
    .inputFormulaire{
        width: 80%;
    }
    }
 