/* // Liste des liens Javascript ! // */

.js1 {
    background-image: url(/assets/js_vignette_01.jpg);
}

.js2 {
    background-image: url(/assets/js_vignette_02.jpg);
}

.js3 {
    background-image: url(/assets/js_vignette_03.jpg);
}

.js4 {
    background-image: url(/assets/js_vignette_04.jpg);
}

.js5 {
    background-image: url(/assets/js_vignette_05.jpg);
}

.js6 {
    background-image: url(/assets/js_vignette_06.jpg);
}

.js7 {
    background-image: url(/assets/js_vignette_07.jpg);
}

.js8 {
    background-image: url(/assets/js_vignette_08.jpg);
}

.js9 {
    background-image: url(/assets/js_vignette_09.jpg);
}

.js10 {
    background-image: url(/assets/js_vignette_10.jpg);
}

.js11 {
    background-image: url(/assets/js_vignette_11.jpg);
}


/* // Liste des liens PHP ! // */


.php1 {
    background-image: url(/assets/php_vignette_01.jpg);
}

.php2 {
    background-image: url(/assets/php_vignette_02.jpg);
}

.php3 {
    background-image: url(/assets/php_vignette_03.jpg);
}

.php4 {
    background-image: url(/assets/php_vignette_04.jpg);
}

.php5 {
    background-image: url(/assets/php_vignette_05.jpg);
}

.php6 {
    background-image: url(/assets/php_vignette_06.jpg);
}

.php7 {
    background-image: url(/assets/php_vignette_07.jpg);
}

.php8 {
    background-image: url(/assets/php_vignette_08.jpg);
}

.php9 {
    background-image: url(/assets/php_vignette_09.jpg);
}


/* // Liste des liens CSS ! // */


.css1 {
    background-image: url(/assets/css_vignette_01.jpg);
}

.css2 {
    background-image: url(/assets/css_vignette_02.jpg);
}

.css3 {
    background-image: url(/assets/css_vignette_03.jpg);
}

.css4 {
    background-image: url(/assets/css_vignette_04.jpg);
}

.css5 {
    background-image: url(/assets/css_vignette_05.jpg);
}

.css6 {
    background-image: url(/assets/css_vignette_06.jpg);
}

.css7 {
    background-image: url(/assets/css_vignette_07.jpg);
}

.css8 {
    background-image: url(/assets/css_vignette_08.jpg);
}

.css9 {
    background-image: url(/assets/css_vignette_09.jpg);
}