* {
    margin: 0px;
    font-family: 'Barlow', sans-serif;
}

a {
    z-index: 10;
    text-decoration: none;
    color: #000;
}

article {
    min-width: 310px;
    width: 310px;
    border-radius: 10px;
    background-color: #E2E2E2;
    transition: 0.1s;
    height: 450px;
}

img {
    border-radius: 10px 10px 0px 0px;
}


.jsArticle {
    height: 220px;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.js1 {
    background-image: url(/assets/js_vignette_01.jpg);
}

.js2 {
    background-image: url(/assets/js_vignette_02.jpg);
}

.js3 {
    background-image: url(/assets/js_vignette_03.jpg);
}


.categoryFilter {
    display: flex;

}

.btnFilter {
    color: #fff;
    padding: 10px;
    background-color: #000;
    border-radius: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.articleDescription {
    padding: 20px;
}

h3 {
    font: 500 28px Barlow;
    padding-bottom: 16px;
}

p {
    font: 500 16px Barlow;
    padding-bottom: 16px;
}

article:hover {
    box-shadow: 0px 15px 15px rgb(181, 181, 181);
    transform: translateY(-10px);
    transition: 0.2s;
}

@media only screen and (max-width: 1023px) {


    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    article {
        margin-top: 15px;
        margin-bottom: 15px;
    }


}

@media only screen and (min-width: 1024px) {

    section {
        display: flex;
        justify-content: center;
    }

    article {
        margin: 25px;
    }


}