/* // Général // */

* {
    margin: 0px;
    font-family: 'Barlow', sans-serif;
}

header {
    margin-left: 25px;
}

h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

body {
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

h3 {
    font: 500 24px Barlow;
    padding-bottom: 16px;
}

p {
    font: 500 16px Barlow;
}

main {
    max-width: 1100px;
    margin-left: 5%;
    margin-right: 5%;
}

section#filter {
    margin-left: 25px;
}

button,
p {
    font: 500 16px Barlow;
}

.filterSection {
    margin-bottom: 24px
}

.filterSection>h2 {
    margin-bottom: 8px
}

.tags>button {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: black;
    height: 35px;
    min-width: 50px;
    color: white;
    border-radius: 50px;
    border: none;
}

.buttonText {
    margin: 5px;
}




/* // Bloc d'article // */


section.article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* // Article // */


article {
    min-width: 310px;
    width: 310px;
    border-radius: 10px;
    background-color: #e2e2e2;
    transition: 0.1s;
    height: 450px;
    margin: 25px;
}

p.articleText {
    padding-bottom: 16px;
}


img {
    border-radius: 10px 10px 0px 0px;
}


.jsArticle {
    height: 220px;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

a {
    z-index: 10;
    text-decoration: none;
    color: #000;
}

.btnFilter {
    color: #fff;
    padding: 10px;
    background-color: #000;
    border-radius: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.articleDescription {
    padding: 20px;
}

.categoryFilter {
    display: flex;
}


/* // Hover // */

article:hover {
    box-shadow: 1px 15px 30px rgb(216, 216, 216);
    transform: translateY(-15px);
    transition: 0.2s;
}


/* // Liste des liens ! // */

.js1 {
    background-image: url(/assets/js_vignette_01.jpg);
}

.js2 {
    background-image: url(/assets/js_vignette_02.jpg);
}

.js3 {
    background-image: url(/assets/js_vignette_03.jpg);
}

/* // Fin de la liste des liens // */

@media screen and (min-width: 768px) {

    h1 {
        font-size: 80px;
    }



}